* {
    margin: 0px;
    padding: 0px;
}

main, nav, article, aside, section, header,article,footer
{display: block;}


/*<--form-->*/

header{
    height: 80px;
    background-color: rgba(182, 243, 164, 0.5);
}
 header h1{
     width: 90%;
     float: left;
 }

.login{
    float: right;
    margin: 15px;
}


.Maincolor{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2346ff71'/%3E%3Cstop offset='1' stop-color='%2390a0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.wapper{
    width: 60%;
    height: 100%;
    margin: 0px auto;
}



/*<---LOGIN--->*/

.Maincolor2{
    background-image: url('../images/2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}


        
.card{
    width: 400px;
    background-color: rgba(136, 135, 245, 0.5) !important;
}

    
.card-header h3{
    color: white;
}
    
  
.remember{
    color: white;
}
    
.remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}


.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
}

.server{
    text-align: center;

}
    



  



